*.swp
configstore
dconf
evolution
gnome*
gtk*
ibus
nautilus
pulse
user-dirs.*
yelp
BraveSoftware
mimeapps.list
monitors.xml
calibre
.config/autostart
.config/freerdp
.config/remmina
.config/docker
.config/systemd
Postman
.config/*
!.config/nvim
