apturl
asn1crypto
Brlapi
certifi
chardet
command-not-found
cryptography
cupshelpers
defer
distro-info
greenlet
httplib2
idna
keyring
keyrings.alt
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
macaroonbakery
Mako
MarkupSafe
msgpack
neovim
netifaces
oauth
olefile
pexpect
Pillow
protobuf
pycairo
pycrypto
pycups
pygobject
pymacaroons
PyNaCl
pynvim
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
SecretStorage
simplejson
six
system-service
systemd-python
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
xkit
zope.interface
